nav {
  background-color: #909090; }

body {
  background-color: #dadada; }
  body .card {
    background-color: #3f3f3f;
    color: #dadada;
    padding-top: 1rem;
    text-align: center; }
  body .contacto {
    width: 80%;
    margin: 20px auto; }

footer {
  background-color: #3f3f3f;
  color: #dadada;
  text-align: center;
  margin-top: 1rem; }
