$bg-oscuro: #3f3f3f;
$bg-medio: #909090;
$bg-claro: #dadada;
@mixin color {
  background-color: $bg-oscuro ;
  color:$bg-claro ;
}
nav {
  background-color: $bg-medio;
}
body {
  @if $bg-claro == #dadada {
    background-color: $bg-claro;
  } @else if $bg-calro == #909090{
    background-color: $bg-medio;
  } @else if $bg-claro == #3f3f3f{
    background-color: $bg-oscuro;
  } @else {
    background-color: black;
  }
  .card {
    @include color();
    padding-top: 1rem;
    text-align: center;
  }
  .contacto {
    width: 80%;
    margin: 20px auto;
  }
}
footer {
  @extend .card;
}
